<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template header}-->

<div id="nav"><a href="index.php">$bbname</a> &raquo;OpenID</div>

<!--{if !$uid&&empty($is_binding)||$uid}-->
<form method="post" action="OpenID.php">
	<h3> OpenID $lang_login_add</h3>
	<table cellspacing="0" cellpadding="0" class="formtable">
		<tr>
			<th><b>OpenID URL</b></th>
			<td>
				<input size="50"  name="openid_identifier" style='background: #FFFFFF url(image/login-bg.gif) no-repeat; padding-left: 18px;'/>
				<button class="submit" type="submit" onclick="document.getElementById('spinner').style.visibility='visible'">$lang_login_add</button>
				<span id="spinner" style="visibility:hidden"> <img src="image/spinner.gif" /><span>$openidlang['openid_auth']</span></span>				
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>
				<ul>
					<li>$openidlang['openid_intro']</li>
					<li>$openidlang['openid_guide']</li>
					<li>$openidlang['openid_sites']</li>
				</ul>
			</td>
		</tr>
	</table>
</form>
<!--{/if}-->



<!--{template footer}-->